{% extends "base.html" %}
{% block title %}contact{% endblock title %}

{% block content %}
     <div class="container">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Phone No</label>
                <input type="text" name="phoneno" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Message</label>
                <input type="text" name="message" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
     </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name </th>
      <th scope="col">Phone no</th>
      <th scope="col">Email</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
    <tr>
      <th scope="row">{{d.name}}</th>
      <td>{{d.phone}}</td>
      <td>{{d.email}}</td>
      <td>{{d.msg}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}